<h1>Users</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Last Login</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? ? "Admin" : "User" %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= button_to 'Ban', { controller: "blacklists", action: "create", blacklist: { ip: user.last_sign_in_ip } }, { method: :post, data: { confirm: 'Are you sure?' }, class: "btn" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
