<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<button class="btn btn-secondary" type = "button">
  <%= link_to 'Edit', edit_user_path(@user), class: 'link-to-color' %> 
</button>
<button class="btn btn-secondary" type = "button">
  <%= link_to 'Back', users_path, class: 'link-to-color' %>
</button>
