<h1>
  <strong>User</strong>
</h1>

<div class="jumbotron">
    <h1 class="display-4"> <%= @user.name %></h1>
    <hr class = "my-4">
      <p><%= @user.email %></p>
      <p><%= @user.admin %></p>
</div>

<%= link_to 'Edit', edit_user_path(@user), class: 'link-to-color btn' %> 

<%= link_to 'Back', users_path, class: 'link-to-color btn' %>

