<%= bootstrap_form_for(@revision) do |form| %>
  <% if @revision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revision.errors.count, "error") %> prohibited this revision from being saved:</h2>

      <ul>
      <% @revision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_area :contents, { value: @page.body, class: "quill_container" } %>
  <%= form.hidden_field :version, value: @version %>
  <%= form.hidden_field :page_id, value: @page.id %>
  <%= form.submit %>
<% end %>
