<p id="notice"><%= notice %></p>

<h1>Revisions</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Page</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @revisions.each do |revision| %>
      <tr>
        <td><%= revision.page_id %></td>
        <td><%= revision.version %></td>
        <td><%= link_to 'Show', revision %></td>
        <td><%= link_to 'Destroy', revision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>