<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @revision.page.title %>
</p>

<p>
  <strong>Created:</strong>
  <%= @revision.page.created_at %>
</p>


<%= image_tag  "/images/#{@revision.page_id}/#{@revision.file_path}" if @revision.file_path? %>

<div class = "jumbotron">
  <%= @revision.contents.html_safe %>
</div>

<%= link_to 'Back', :back, class: 'link-to-color btn' %>


