<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @revision.page.title %>
</p>

<p>
  <strong>Created:</strong>
  <%= @revision.page.created_at %>
</p>

<div class = "jumbotron">
  <%= @revision.contents.html_safe %>
  <% @revision.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
</div>

<%= link_to 'Back', :back, class: 'link-to-color btn' %>
