<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @revision.page.title %>
</p>

<p>
  <strong>Created:</strong>
  <%= @revision.page.created_at %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @revision.contents.html_safe %>
</p>

<%= link_to 'Back', revisions_path, class: 'link-to-color btn' %>

