<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @revision.page.title %>
</p>

<p>
  <strong>Created:</strong>
  <%= @revision.page.created_at %>
</p>


<div class = "jumbotron">
  <%= @revision.contents.html_safe %>
  <%= link_to image_tag("/images/#{@revision.page.id}/#{@revision.file_path}"), "/pages/#{@revision.page.title}/image" if @revision.file_path%>
</div>

<%= link_to 'Back', :back, class: 'link-to-color btn' %>
