<%= bootstrap_form_for(@page) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :title, placeholder: "Give your masterpiece a title..." %>
    <%= form.text_field :body, placeholder: "Give your masterpiece some content...", class: 'quill_container' %>
    <%= form.submit "Submit" %>

<% end %>
