<h1>Pages</h1>
<table class="table table-striped table-hover">
  <thead>
      <tr>
        <th>Title</th>
        <th>Last Editor</th>
        <th>Last Edited</th>
      </tr>
    </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= "🔒" if page.locked? %><%= link_to page.title, page %></td>
        <td><%= page.revisions.last.user.username %></td>
        <td><%= page.revisions.last.created_at %></td>
        <td><%= link_to 'History', "/pages/#{page.title}/history" %></td>
        <% if current_user and !page.locked %>
          <td><%= link_to 'Edit', edit_page_path(page) %></td>
          <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'Create new article', new_page_path, class: 'link-to-color btn' %>
<% end %>