<h1><%= @page.title %></h1>

<% if @page.locked? %>
  <div class="alert alert-warning">
    <strong>This article has been locked from editing</strong>
  </div>
<% end %>

<div class = "jumbotron">
  <p><%= @page.body.html_safe %></p>
  <%= image_tag  "/images/#{@page.id}/#{@page.file_path}" if @page.file_path? %>
</div>

<% if current_user and current_user.admin? %>
  <% if @page.locked? %>
    <%= link_to 'Unlock', { controller: "pages", action: "unlock" }, { method: :post, class: 'link-to-color btn' } %>
  <% else %>
    <%= link_to 'Lock', { controller: "pages", action: "lock" }, { method: :post, class: 'link-to-color btn' } %>
  <% end %>
<% end %>

<% if current_user and !@page.locked? %>
  <%= link_to 'Edit', edit_page_path(@page), class: 'link-to-color btn' %>
<% end %>
<%= link_to 'History', "/pages/#{@page.title}/history", class: 'link-to-color btn' %> 
<%= link_to 'Back', pages_path, class: 'link-to-color btn' %>