<h1><%= @page.title %></h1>

<p id="notice"><%= notice %></p>

<p>
  <% if @page.locked? %>
    <strong>This article is locked from editing</strong>
  <% end %>
</p>

<p><%= @page.body.html_safe %></p>

<% if @page.locked? %>
  <strong>This article has been locked from editing</strong>
<% else %>
  <%= link_to 'Edit', edit_page_path(@page) %>
<% end %> |
<%= link_to 'History', "/pages/#{@page.title}/history" %> |
<%= link_to 'Back', pages_path %>
