<h1><%= @page.title %></h1>

<p>
  <% if @page.locked? %>
  <strong>This article is locked from editing</strong>
  <% end %>
</p>
<div class = "jumbotron">
  <p><%= @page.body.html_safe %></p>
  <%= image_tag  "/images/#{@page.id}/#{@page.file_path}" if @page.file_path? %>
</div>
<% if @page.locked? %>
<strong>This article has been locked from editing</strong>
<% else %>
<br>
<%= link_to 'Edit', edit_page_path(@page), class: 'link-to-color btn' %>
<% end %>

<%= link_to 'History', "/pages/#{@page.title}/history", class: 'link-to-color btn' %> 

<%= link_to 'Back', pages_path, class: 'link-to-color btn' %>